#logo{
    width: 131px;
}
main{
    width: 1140px;
}
body{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background: #f3f4f5;
}
#background{
    background:url(assets/masthead@2x.jpg);
    background-position: center;
    background-size: contain;
    background-color: #a5adb0;
    background-repeat: no-repeat;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
#head{
    color: #fff;
    margin-top: 200px;
    font-size: 18px;
    width: 741px;
    margin-bottom: 190px;
}
#head p{
    color: #fff;
}
#spaceballs{
    font-size: 24px;
    font-weight: 900;
}
h1{
    font-size: 66px;
    font-weight: bold;
    margin: 25px 0 15px;
}
h1#home{
    font-size: 96px;
}
h2{
    font-size: 24px;
    color: #3c3c3c;
}
h2.home{
    color: #e2e2e2;
    font-size: 28px;
}
.aleo{
    font-family: 'Aleo',serif;
    font-style: italic;
    font-weight: normal;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 60px 0 45px 0;
    border-bottom: 1px solid #cad2d7;
}
header.home{
    border-bottom-color: #f5f5f5;
}
nav{
    margin-top: 10px;
}
nav a{
    font-weight: bold;
    padding: 6px 24px;
    margin: 6px;
    border-radius: 2px;
    font-family: 'Roboto-Condensed',sans-serif;
    font-weight: 700;
}
a{
    color: #2d3438;
    text-decoration: none;
}
nav a:hover{
    background:#646d72;
    color: #fff;
}

/* .active też może być ale chcę wiedzieć na przyszłość */
nav a.active{
    background: #ffc000;
    color: #fff;
}

#head a{
    color: #3c4a52;
    font-weight: bold;
}

#head a:hover{
    color: #ffc000;
}
.info{
    display: flex;
    justify-content: space-between;
}
.info h3{
    font-size: 36px;
    margin: 15px 0 18px;
}
h1#home::after{
    content: unset;
}
.info h3::after{
    content: "";
    display: inline-block;
    background: #ffc000;
    width: 8px;
    height: 8px;
    margin-left: 6px;
}
p{
    color: #656a6f;
    line-height: 24px;
}
.info div{
    width: 30%;
}
.info a::before{
    content: "";
    display: inline-block;
    background: #ffc000;
    width: 8px;
    height: 8px;
    margin-right: 6px;
}
footer{
    border-top: 1px solid #9fa6aa;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 65px;
}

#social img{
    height: 31px;
    opacity: 0.4;
}
#copy{
    display: flex;
    align-items: center;
    color: #9fa6aa;
}
#copy img{
    height: 19px;
    margin-right: 10px;
}
#social img:hover{
    opacity: 0.6;
}
img#about{
    width: 100%;
    margin-top: 65px;
    border: 6px solid #fff;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.about-txt div{
    width: 45%;
}